.fileuploader {
    margin: 70px auto;
    min-height: calc(100vh - 140px);
    position: relative;
    transition: all 0.3s ease 0.1s;
    overflow-y: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.fileuploader #upload-button {
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 16px;
    position: relative;
    height: auto !important;
    min-width: 300px;
    max-width: 100%;
    padding-top: 40px;
    text-align: center;
    transition: 0.8s all;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    cursor: pointer;
}


.fileuploader #upload-button .title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0 !important;
    margin-top: 1rem;
    display: block;
}

.fileuploader #upload-button .upload-icon {
    text-align: center;
    display: block;
    background: white;
    color: #282c34;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outline-none {
    outline: 0 !important;
}
