/* Radio Buttons */
.pdf-selector {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.pdf-selector+img {
    cursor: pointer;
}

.pdf-selector:checked+img {
    outline: 2px solid #f00;
}

.radio-image {
    object-fit: cover;
    background-color: white !important;
}

.pdf-page-selector {
    position: relative;
}

.pdf-page-selector mark {
    position: absolute;
}

/* Page Style */

div#print-div {
    background: white;
    display: block;
    margin: 0.5cm auto;
    margin-top: 3rem;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    orientation: landscape;
    overflow: auto;
}

div#print-div[data-size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

div#print-div[data-size="A4"][data-layout="landscape"] {
    width: 29.7cm;
    height: 21cm;
}

.hide-bg {
    mix-blend-mode: multiply;
    filter: contrast(1);
}

.pdf-preview {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


@media print {

    .break-page {
        clear: both;
        page-break-before: auto;
        page-break-inside: avoid;

        break-inside: avoid;
        -webkit-break-inside: avoid;
    }

    .hide-for-print {
        display: none !important;
    }

    .print-m-p-0 {
        box-shadow: none !important;
        margin: 0 auto !important;
        padding: 0 !important;
    }

    div#print-div {
        width: 100vw !important;
        height: 100vh !important;
        box-shadow: none !important;
        
        padding: 0 !important;
        margin: 0 !important;
        overflow: visible !important;
    }

    #merged-images-container .container {
        background-color: transparent !important;
    }

    body,
    html {
        background-color: transparent !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}