.not-found {
    width: 100vw;
    height: calc(100vh - 60px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.not-found-logo {
    margin: auto auto;
    transition: all 1s;
    text-align: center;
}
